@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-coral-blue: #55a9bb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue);
}

em {
  font-style: normal;
  color: var(--color-coral-blue);
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}

@layer components {
  .layout {
    @apply py-0 px-0;
  }
  .btn-primary {
    @apply inline-block text-center text-white bg-coralBlue px-3 rounded font-heading border-2 border-coralBlue text-2xl sm:text-3xl pt-1;
  }
  .btn-secondary {
    @apply text-coralBlue bg-white px-3 rounded font-heading border-2 border-coralBlue text-2xl sm:text-3xl pt-1;
  }
}
